.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: space-evenly;
  justify-items: center;
  align-items: start;
  padding: 2em 0;
}

.grid-dark {
  background-color: #001b2e;
}

.grid-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.grid-item > img {
  border-radius: 15px;
  max-width: 140px;
}

.bookmark-button {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  display: block;
  width: 20px;
}
.bookmark-button > img {
  width: 100%;
}

.grid-title {
  max-width: 140px;
}

@media (max-width: 1600px) {
  .grid {
    grid-template-columns: repeat(9, 1fr);
  }
}

@media (max-width: 1500px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (max-width: 1400px) {
  .grid {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 1300px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media ( max-width: 800px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr)
  }
}
@media (max-width: 375px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
