.search-container {
  padding-left: 10px;
  position: fixed;
  left: 80px;
  top: 32px;
  height: 80px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  z-index: 2;
  animation: 0.5s forwards appear;
  background-color: #001b2e;
}

.dissapear {
  animation: 0.5s forwards disappear;
}

.search {
  border-radius: 30px;
  font-size: 1.2rem;
  padding: 0 0.75em;
  text-align: center;
}

.search-icon {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-icon > img {
  width: 50%;
  filter: grayscale(100%) contrast(0%) brightness(0%) invert(100%);
}

@keyframes disappear {
  0% {
    left: 80px;
  }
  100% {
    left: -50%;
  }
}
@keyframes appear {
  0% {
    left: -50%;
  }
  100% {
    left: 80px;
  }
}

@media screen and (max-width: 500px) {
  .search-container {
    width: 250px;
  }
}
